---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ColorStack UMD Events" description='ColorStack at UMD will host events, get information on this page.'>
   <h1>Events</h1>
</Layout>