---
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
---

<Layout
  title="ColorStack UMD"
  description="The Official ColorStack at UMD website.">
  <Section>
    <Container>
      <h4 class="hero-subtitle">Welcome to</h4>
      <h2 class="hero-title">ColorStack chapter at UMD</h2>
      <p class="hero-description">
        We are a community of students passionate about technology and
        diversity.
      </p>
      <a class="hero-button" href="#">Become a member</a>
    </Container>
    <div class="hero-image"></div>
  </Section>

  <Section bgColor="var(--color-primary)">
    <Container>
      <div class="flex">
        <div>
          <ul>
            <li>
              <p>Community</p>
            </li>
            <li>
              <p>Events</p>
            </li>
          </ul>
        </div>

        <div>
          <ul>
            <li>
              Attend monthly workshops, webinars, and coaching sessions from
              industry leaders
            </li>
            <li>
              Make friends with ColorStack members through social activities
            </li>
            <li>Secure the bag at our annual career fairs</li>
          </ul>
        </div>
      </div>
    </Container>
  </Section>
</Layout>

<style>
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 600px;
    max-width: 100%;
    display: flex;
    background-color: black;
    z-index: 0;
  }
  .hero-image::before {
    content: '';
    background-image: url('/images/mckeldin-mall-umd.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
  }
  .hero-subtitle {
    position: relative;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: clamp(0.75rem, 0.6055rem + 0.6163vw, 1rem);
  }
  .hero-subtitle::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 60%;
    background-color: var(--color-primary);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .hero-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: var(--font-size-heading);
    line-height: 1;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    max-width: 600px;
  }
  .hero-description {
    margin-bottom: 1.5rem;
    color: white;
  }
  .hero-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }

  /* Laptop */
  @media (max-width: 1440px) {
    /* CSS styles for laptop screens */
  }

  /* Tablet */
  @media (max-width: 1024px) {
    /* CSS styles for tablet screens */
  }

  /* iPad mini */
  @media (max-width: 768px) {
    /* CSS styles for iPad mini screens */
  }

  /* Mobile */
  @media (max-width: 550px) {
    /* CSS styles for mobile screens */
    .section {
      padding: 0 12px;
    }
    .hero-content {
      padding: 60px 0;
    }
    .hero-image {
      height: 460px;
    }
  }
</style>
