---

---

<footer>
  <div class="container">
    <ul class="footer-navigation">
      <li>
        <a href="/"
          ><img
            src="/images/umdcolorstack-icon.png"
            alt=""
            width="108px"
            height="108px"
          /></a
        >
      </li>
      <li>
        <p style="font-weight:600;">Links</p>
        <ul>
          <li><a href="/services">Home</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </li>
      <li class="flex flex-col" style="">
        <p style="font-weight:600;">Stay Connected:</p>
        <div class="flex" style="gap: 8px; justify-content: end;">
          <a href="/" target="_blank"
            ><img
              src="/images/groupme-icon.png"
              alt="ColorStack at UMD GroupMe invite"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a
            href="https://www.instagram.com/colorstackumd/?hl=en"
            target="_blank"
            ><img
              src="/images/instagram-icon.png"
              alt="ColorStack at UMD Instagram page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a href="/" target="_blank"
            ><img
              src="/images/linkedin-icon.png"
              alt="ColorStack at UMD LinkedIn page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a
            href="https://terplink.umd.edu/organization/colorstackumd"
            target="_blank"
            ><img
              src="/images/terplink-icon.png"
              alt="ColorStack at UMD TerpLink page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
        </div>
      </li>
    </ul>
  </div>
  <div>
    <p style="font-size: 12px; text-align: center;">
      Developed By <a
        href="https://www.linkedin.com/in/wflore19/"
        target="_blank">Wilfredo Flores</a
      > © 2024-Present All Rights Reserved. Terms of Use - Privacy Policy
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    padding: 8px 24px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: var(--max-w-container);
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 24px; */
  }

  .footer-navigation {
    display: flex;
    justify-content: space-between;
  }
</style>
