---
import { getRoutes } from '../helpers/routes'; // Adjust the path if needed

const routes = getRoutes();
---

<header>
  <div class="container">
    <a href="/">
      <img src="/images/umdcolorstack-icon.png" alt="" height="80" width="80" />
    </a>
    <nav>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="#">FAQ</a></li>
        <li class="flex">
          <p style="text-decoration: underline; font-weight:600;">
            Stay Connected:
          </p>

          <a href="/" target="_blank"
            ><img
              src="/images/groupme-icon.png"
              alt="ColorStack at UMD GroupMe invite"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a
            href="https://www.instagram.com/colorstackumd/?hl=en"
            target="_blank"
            ><img
              src="/images/instagram-icon.png"
              alt="ColorStack at UMD Instagram page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a href="/" target="_blank"
            ><img
              src="/images/linkedin-icon.png"
              alt="ColorStack at UMD LinkedIn page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
          <a
            href="https://terplink.umd.edu/organization/colorstackumd"
            target="_blank"
            ><img
              src="/images/terplink-icon.png"
              alt="ColorStack at UMD TerpLink page"
              width="24"
              height="24"
              class="social-link"
            /></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: var(--color-primary);
    color: white;
    padding: 8px 24px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-w-container);
    margin-left: auto;
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
  }

  .nav-list li {
    position: relative;
    font-size: var(--font-size-md);
  }

  .nav-list li:last-child {
    gap: 8px;
  }
  .nav-list li a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 4px;
    background-color: #ffad32;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .nav-list li:hover a::before {
    width: 102%;
  }
  .nav-list li:hover:last-child a::before {
    width: 0%;
  }

  .social-link {
    display: block;
  }
</style>
