---
import { getRoutes } from "../helpers/routes"; // Adjust the path if needed

const routes = getRoutes();
---

<header>
	<div class="container">
		<a href="/">
			<img src="/images/umdcolorstack.png" alt="" height="80" width="80" />
		</a>
		<nav>
			<ul class="nav-list">
				<li><a href="/">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
	header {
		background-color: var(--color-primary);
		color: white;
		padding: 8px 24px;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: var(--max-w-container);
		margin-left: auto;
		margin-right: auto;
	}

	.nav-list {
		display: flex;
		flex-direction: row;
		gap: 24px;
		list-style: none;
	}

	.nav-list li {
        position: relative;
        font-size: var(--font-size-md)
	}
	.nav-list li a::before {
		content: "";
    	position: absolute;
    	bottom: -1px;
    	width: 0;
    	height: 4px;
    	background-color: #ffad32;
    	-webkit-transition: all .4s cubic-bezier(.645,.045,.355,1);
    	-o-transition: all .4s cubic-bezier(.645, .045, .355, 1);
    	transition: all .4s cubic-bezier(.645,.045,.355,1);
	}
	.nav-list li:hover a::before {
		width: 102%
	}
</style>
