---

---

<div class="hero-content">
  <slot />
</div>

<style>
  .hero-content {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-w-container);
    padding: 158px 0;
    z-index: 1;
  }
</style>
