---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <link rel="stylesheet" href="assets/styles.css" />
    <script src="assets/js/bootstrap.bundle.min.js" is:inline></script>
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!--Social Media Display-->
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="images/social.webp" />
    <meta property="og:image:secure_url" content="images/social.webp" />

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Analytics -->
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: black;
  }
  html {
    font-family:
      'Montserrat',
      system-ui,
      -apple-system,
      BlinkMacSystemFont;
  }

  p {
    margin-bottom: 0.5rem;
  }
</style>
